{{ define "main" }}
<article>
    <img class="article-image" src="/images/tavenemlogo.svg" alt="Tavenem logo">
    <h1>Tavenem</h1>
    <p>
        Tavenem is a software development organization. Find our projects on
        <a href="https://github.com/Tavenem">GitHub. <img style="height: 1.1rem" src="images/GitHub-Mark-Light-32px.png" /></a>
    </p>
</article>
<article>
    <h2>About Us</h2>
    <p>Tavenem is currently the one-person software development project of <a href="https://williamstead.com">Wil Stead</a>. Wil is a professional software engineer working full-time who develops the Tavenem software in his spare time. He is also a proud husband and father.</p>
</article>
<article>
    <h2>Highlighted Projects</h2>
    <p>Check out the <a href="./Blazor.Framework/">Tavenem Blazor Framework</a>, a style and component framework for <a href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor">Blazor</a></p>
</article>
{{ end }}